ul {
    list-style: none;
  }
  
  * {
    color: white;
    margin: 0;
    padding: 0;
  }
  
  img {
    border-radius: 20px;
    border-color: red;
    border-style: solid;
    margin: 10px;
  }
  
  #initials {
    border-radius: 30px;
    border-color: white;
    border-style: solid;
  }
  
  body {
    background-image: url(../resources/background.jpg);
    background-size: cover;
  }
  
  nav {
      background-color: black;
      width: 100%;
      position: fixed;
  }
body{
  text-align: center;
}
  
  #profile-pic {
    height: 40rem
  }

  #profile{
    margin: auto;
    padding-top: 10px;
  }

  .links {
    float: left;
    width: 33.33%;
  }

  img {
    height: 150px;
  }